{% extends "base.html" %}

{% block title %}Login – Was letzte Preis?{% endblock %}

{% block links %}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% if return_statement %}
    {{ return_statement|safe }}
{% endif %}
{% endblock %}


{% block content %}
<div class="login-box">
    <h2>Einloggen</h2>

    <form action="/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail-Adresse</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="mb-4">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn-old">Login</button>
        </div>

        <div class="captcha" style="margin: 5% 0 5% 25%;">
            <h3>Captcha</h3>
         {{ captcha_html(captcha)|safe }}
        </div>
    </form>

    <p class="note">Noch kein Konto?
        <a href="/register" class="btn-old" style="padding:0.2rem 0.8rem;">Registrieren</a>
    </p>
</div>
{% endblock %}